body {
  background-color: rgb(202, 183, 250);
}
h1 {
  border: 0cqh;
  padding: 0cqw;
  color: green;
  font-style: italic;
}
p {
  border: 0cqmin;
  padding: 0dvw;
  font-style: oblique;
  color: black;
}
